### Create DataFrame

In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'Col1':[1,2], 'Col2':['a','b']})

   Col1 Col2
0     1    a
1     2    b

In [3]:
#give index as well
pd.DataFrame({'Name':['Ammara','Asma'], 'Uni':['UOS','UOS']}, index=['student1','Student2'])

            Name  Uni
student1  Ammara  UOS
Student2    Asma  UOS

### Create Series

In [4]:
Name = ['Ammara','Asma']
pd.Series(Name)

0    Ammara
1      Asma
dtype: object

#### None Element in numbers will be 'NaN' and in strings will be 'None'

In [5]:
animals = ['panda','bear',None]
pd.Series(animals)

0    panda
1     bear
2     None
dtype: object

In [7]:
num = [1,2,3,None]
pd.Series(num)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

#### NaN and None are not equal

In [ ]:
import numpy