### Create DataFrame

In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'Col1':[1,2], 'Col2':['a','b']})

   Col1 Col2
0     1    a
1     2    b

In [3]:
#give index as well
pd.DataFrame({'Name':['Ammara','Asma'], 'Uni':['UOS','UOS']}, index=['student1','Student2'])

            Name  Uni
student1  Ammara  UOS
Student2    Asma  UOS

### Create Series

In [4]:
Name = ['Ammara','Asma']
pd.Series(Name)

0    Ammara
1      Asma
dtype: object

#### None Element in numbers will be 'NaN' and in strings will be 'None'

In [5]:
animals = ['panda','bear',None]
pd.Series(animals)

0    panda
1     bear
2     None
dtype: object

In [7]:
num = [1,2,3,None]
pd.Series(num)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

#### NaN and None are not equal

In [9]:
import numpy as np
np.nan == None

False

In [10]:
np.nan == np.nan

False

In [11]:
np.isnan(np.nan)

True

#### Create Series by giving your own indices

#### Option 1:

In [13]:
sports = {'Hockey':'Pakistan',
         'Cricket':'England',
         'Sumo':'Japan',
         'Golf':'Scotland'}
s=pd.Series(sports)
s

Hockey     Pakistan
Cricket     England
Sumo          Japan
Golf       Scotland
dtype: object

In [14]:
s.index

Index(['Hockey', 'Cricket', 'Sumo', 'Golf'], dtype='object')

#### Option 2:

In [16]:
s = pd.Series(['A','A+','B'], index=['Che','Bio','Math'])
s

Che      A
Bio     A+
Math     B
dtype: object

In [17]:
scores = {'Che':'A', 'Bio':'B', 'Math':'A+', 'Phy':'A'}
pd.Series(scores, index=['Math','Phy'])

Math    A+
Phy      A
dtype: object

### Querying a Series

In [18]:
import pandas as pd
unis = {'UET':'Pakistan',
       'UOS':'UAE',
       'TUM':'Germany',
       'NYU':'USA',
       'Oxford':'UK'}
u = pd.Series(unis)
u

UET       Pakistan
UOS            UAE
TUM        Germany
NYU            USA
Oxford          UK
dtype: object

In [19]:
u[3]

'USA'

In [20]:
u.iloc[3]

'USA'

In [21]:
u.loc['UET']

'Pakistan'

In [22]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

In [23]:
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [27]:
#s[0]  it will not work because the keys/indices are also integers

In [28]:
s.keys

<bound method Series.keys of 99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object>

In [30]:
s.index

Int64Index([99, 100, 101, 102], dtype='int64')

In [31]:
s.iloc[0]

'Bhutan'

In [32]:
s[99]

'Bhutan'

In [33]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64